<div class="page-title-wrapper d-lg-flex flex-column gap-3">
            <nav aria-label="breadcrumb">
                 <ol class="breadcrumb mb-0 bg-transparent p-0">
                     <li class="breadcrumb-item"><a href="/admin"> Dashboard</a></li>
                     <li class="breadcrumb-item"><a href="/amenities">Amenities</a></li>
                     <li class="breadcrumb-item active" aria-current="page">add amenities</li>
                 </ol>
             </nav>
             <h1 class="page-title">Amenities</h1>
</div>
<br><br>
<div class="full-row pt-0">
  <div class="container">
    <div class="row g-5">
      <div class="col-md-5 order-md-2"></div>
      <div id="agentcall" class="col-lg-7">
        <div class="contact-form">
           <form method="POST" id="addamenities">
           <div class="row align-items-center mb-3">
            <div class="col-auto">
                <label class="mb-0 color-dark">Name of amenities</label>
            </div>
            <br><br>
            <div class="mb-3">
            <input type="text" class="form-control" name="amenities" required> 
            </div>
            <div class="col-lg-12 ">
            <button type="submit" class="btn btn-primary">Add Amenities</button>
            </div>
        </div>
    </form>
    <script>
            document.getElementById("addamenities").addEventListener("submit", async function (e) {
              e.preventDefault();

              const formData = {
                amenities: this.amenities.value,
              };

              try {
                const res = await fetch("/addamenities", {
                  method: "POST",
                  headers: { "Content-Type": "application/json" },
                  body: JSON.stringify(formData)
                });

                const data = await res.json();
                if (data.success) {
                  alert("Amenity added! ✅");
                  window.location.href = "/amenities"
                } else {
                  alert("Something went wrong ❌");
                }
              } catch (err) {
                console.error(err);
                alert("Server error!");
              }
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
