<body>
<div class="page-title-wrapper d-lg-flex flex-column gap-3">
            <nav aria-label="breadcrumb">
                 <ol class="breadcrumb mb-0 bg-transparent p-0">
                     <li class="breadcrumb-item"><a href="/admin"> Dashboard</a></li>
                     <li class="breadcrumb-item"><a href="/banks">Banks</a></li>
                     <li class="breadcrumb-item active" aria-current="page">add bank</li>
                 </ol>
             </nav>
             <h1 class="page-title">Add Bank</h1>
</div>
<br><br>
     <div class="full-row pt-0">
  <div class="container">
    <div class="row g-5">
      <div class="col-md-5 order-md-2"></div>
      <div id="bankcall" class="col-lg-7">
        <div class="contact-form">
          <form method="POST" id="addbank" enctype="multipart/form-data">
            <div class="row g-3">
              <div class="col-lg-12">
                <label>Name</label>
                <input type="text" class="form-control" name="name" required>
              </div>
              <div class="col-lg-12">
                <label>Rate Of Interest</label>
                <input type="text" class="form-control" name="roi" required>
              </div>
              <div class="col-lg-12">
                <label>Upload</label>
                <input type="file" class="form-control" name="upload" accept="image/*" required>
              </div>
              <div class="col-lg-12">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>

          <script>
            document.getElementById("addbank").addEventListener("submit", async function (e) {
              e.preventDefault();

              const formData = new FormData(this);

              try {
                const res = await fetch("/addbank", {
                  method: "POST",
                  body:formData
                });

                const data = await res.json();
                if (data.success) {
                  alert("Your request has been saved! ✅");
                  window.location.href = "/banks"
                } else {
                  alert("Something went wrong ❌");
                }
              } catch (err) {
                console.error(err);
                alert("Server error!");
              }
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
</body>