<style>
        table {
            border-collapse: collapse;
            width: 95%;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
<body>
<!--============== Dashboard Start ==============-->
<div class="full-row p-3">
    <div class="container-fluid">
        <div class="row align-items-center mb-3">
            <div class="col-auto">
                <h5 class="mb-0 color-dark">Appointments</h5>
            </div>
        </div>

        <form class="d-flex mb-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search Appointments" aria-label="Search">
            <button class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<table>
     <thead>
          <tr>
         <th>S.No</th>
         <th>Client</th>
         <th>Address</th>
         <th>Phone No.</th>
         <th>Agent</th>
         <th>Action</th>     
         </tr>
    </thead>
</table>
</body>