<!doctype html>
<html lang="en">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Uniland - Real Estate HTML5 Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon2.ico">

    <!-- Google Font -->	
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/webfonts/unicode/style.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/control.css">

</head>
<body>
 <!--============== Dashboard Start ==============-->
                <div class="full-row p-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="mb-3 color-dark">Dashboard</h5>
                            </div>
                        </div>
                        <div class="row align-items-stretch row-cols-xl-4 row-cols-lg-2 row-cols-1 g-3 mb-4">
                            <div class="col">
                                <div class="counter-style-2 h-100" style="background-color: #55e3b0;">
                                    <div class="entry-wrapper">
                                        <div class="entry-thumbnail-wrapper">
                                            <div class="entry-thumbnail"><span class="unicode-house-1"></span></div>
                                        </div>
                                        <a href="/properties" class="entry-content-wrapper">
                                            <div class="entry-header">
                                                <span class="counter-num">Properties</span>
                                                <!-- <h5 class="counter-title">Available Property</h5> -->
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="counter-style-2 h-100" style="background-color: #dc69f1;">
                                    <div class="entry-wrapper">
                                        <div class="entry-thumbnail-wrapper">
                                            <div class="entry-thumbnail"><span class="unicode-house-1"></span></div>
                                        </div>
                                        <a href="/locations" class="entry-content-wrapper">
                                            <div class="entry-header">
                                                <span class="counter-num">Locations</span>
                                                <!-- <h5 class="counter-title">Property For Rent</h5> -->
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="counter-style-2 h-100" style="background-color: #f1c643;">
                                    <div class="entry-wrapper">
                                        <div class="entry-thumbnail-wrapper">
                                            <div class="entry-thumbnail"><span class="unicode-house-1"></span></div>
                                        </div>
                                        <a href="/agents" class="entry-content-wrapper">
                                            <div class="entry-header">
                                                <span class="counter-num">Agents</span>
                                                <!-- <h5 class="counter-title">Property For Sale</h5> -->
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="counter-style-2 h-100" style="background-color: #ee6565;">
                                    <div class="entry-wrapper">
                                        <div class="entry-thumbnail-wrapper">
                                            <div class="entry-thumbnail"><span class="unicode-house-1"></span></div>
                                        </div>
                                        <a href="/leads" class="entry-content-wrapper">
                                            <div class="entry-header">
                                                <span class="counter-num">Leads</span>
                                                <!-- <h5 class="counter-title">Total Earning</h5> -->
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="counter-style-2 h-100" style="background-color: #f1c643;">
                                    <div class="entry-wrapper">
                                        <div class="entry-thumbnail-wrapper">
                                            <div class="entry-thumbnail"><span class="unicode-house-1"></span></div>
                                        </div>
                                        <a href="/amenities" class="entry-content-wrapper">
                                            <div class="entry-header">
                                                <span class="counter-num">Amenities</span>
                                                <!-- <h5 class="counter-title">Total Earning</h5> -->
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="counter-style-2 h-100" style="background-color: #55e3b0;">
                                    <div class="entry-wrapper">
                                        <div class="entry-thumbnail-wrapper">
                                            <div class="entry-thumbnail"><span class="unicode-house-1"></span></div>
                                        </div>
                                        <a href="/banks" class="entry-content-wrapper">
                                            <div class="entry-header">
                                                <span class="counter-num">Banks</span>
                                                <!-- <h5 class="counter-title">Total Earning</h5> -->
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="counter-style-2 h-100" style="background-color: #dc69f1;">
                                    <div class="entry-wrapper">
                                        <div class="entry-thumbnail-wrapper">
                                            <div class="entry-thumbnail"><span class="unicode-house-1"></span></div>
                                        </div>
                                        <a href="/customers" class="entry-content-wrapper">
                                            <div class="entry-header">
                                                <span class="counter-num">Customers</span>
                                                <!-- <h5 class="counter-title">Total Earning    nj</h5> -->
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--============== End Dashboard Start ==============-->
            </div>
        </div>
    </div>

</body>
</html>