<header class="dashboard-header border-bottom bg-white">
    <div class="main-nav">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg nav-secondary nav-primary-hover py-0">
                        <div class="navbar-collapse justify-content-between">
                            <ul class="navbar-nav status-bar"></ul>
                            <ul class="navbar-nav user-option">
                                <li class="nav-item"></li>
                                <li class="nav-item">
                                    <%if(user.isAdmin){%>
                                    <a class="nav-link" href="#"><img src="/assets/images/user1.jpg" alt=""> Hi, Admin</a>
                                    <%}else{%>
                                        <a class="nav-link" href="#"><img src="/assets/images/user1.jpg" alt=""> Hi, Agent</a>
                                    <%}%>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
