<!doctype html>
<html lang="en">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Uniland - Real Estate HTML5 Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon2.ico">

    <!-- Google Font -->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/fancybox.min.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/control.css">

</head>
<body class="about-page">

    <div id="page_wrapper" class="bg-light-gray">

        <!--============== Page Banner Section Start ==============-->
        <div class="full-row inner-page-banner">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="page-title-wrapper d-lg-flex flex-column gap-3">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0 bg-transparent p-0">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">About</li>
                                </ol>
                            </nav>
                            <h1 class="page-title">About</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=============== Page Banner Section End ===============-->

        <!--============== Page Content Start ==============-->
        <div class="full-row bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <span class="tagline-2">Capablities</span>
                        <h2 class="mb-4">Awesome Real Estate Company for Housing and Construction.</h2>
                    </div>
                    <div class="col-lg-8">
                        <div class="row row-cols-md-2 row-cols-1 g-5">
                            <div class="col">
                                <div class="entry-wrapper">
                                    <div class="entry-thumbnail">
                                        <span class="h3 down-line mb-4 pb-2 d-table">01</span>
                                    </div>
                                    <div class="entry-content">
                                        <div class="entry-header">
                                            <h5 class="entry-title">Property Booking</h5>
                                        </div>
                                        <div class="entry-excerpt">
                                            <p>Creating a higher spacing and how people move through a unique and impactful campaign.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="entry-wrapper">
                                    <div class="entry-thumbnail">
                                        <span class="h3 down-line mb-4 pb-2 d-table">02</span>
                                    </div>
                                    <div class="entry-content">
                                        <div class="entry-header">
                                            <h5 class="entry-title">Payment Guarantee</h5>
                                        </div>
                                        <div class="entry-excerpt">
                                            <p>Creating a higher spacing and how people move through a unique and impactful campaign.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="entry-wrapper">
                                    <div class="entry-thumbnail">
                                        <span class="h3 down-line mb-4 pb-2 d-table">03</span>
                                    </div>
                                    <div class="entry-content">
                                        <div class="entry-header">
                                            <h5 class="entry-title">House Management</h5>
                                        </div>
                                        <div class="entry-excerpt">
                                            <p>Creating a higher spacing and how people move through a unique and impactful campaign.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="entry-wrapper">
                                    <div class="entry-thumbnail">
                                        <span class="h3 down-line mb-4 pb-2 d-table">04</span>
                                    </div>
                                    <div class="entry-content">
                                        <div class="entry-header">
                                            <h5 class="entry-title">Property Deal</h5>
                                        </div>
                                        <div class="entry-excerpt">
                                            <p>Creating a higher spacing and how people move through a unique and impactful campaign.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="full-row paraxify overlay-secondary" style="background-image: url(assets/images/background/bg-7.png); background-repeat: no-repeat; background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-8">
                        <div class="text-white">
                            <span class="tagline color-primary">Persional Virtual Assistants</span>
                            <h3 class="mb-4 color-white">Since our foundation in 2005 our goal has been to use technology to create experiences with a deeper impact.</h3>
                            <p>Diam egestas elit cum accumsan volutpat dignissim sollicitudin aliquet auctor luctus aliquet pede natoque consequat dolor hendrerit eget a mi curae;. Ornare vestibulum ornare taciti nunc penatibus parturient. Leo ornare dolor consectetuer luctus inceptos montes. Molestie montes condimentum ut primis.</p>
                            <p>Nascetur turpis dignissim class porta facilisis sapien mus. Rhoncus condimentum elementum sodales arcu ante justo maecenas non facilisis mauris sagittis felis. Ac laoreet urna lacinia luctus in duis, sem interdum netus, augue pulvinar suscipit Porta vel, ultricies sapien parturient sollicitudin bibendum consectetuer felis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="full-row bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <span class="tagline-2">Approch</span>
                        <h2 class="mb-4">We’re changing the way people think of UI/UX creation.</h2>
                        <p>A full-stack structure for our <b>working workflow processes</b>, were from the funny the century initial all the made, have spare to negatives.</p>
                    </div>
                    <div class="col-lg-8">
                        <img src="assets/images/1.png" alt="image not found">
                    </div>
                </div>
            </div>
        </div>

        <div class="full-row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <span class="tagline-2">Statistics</span>
                        <h2 class="mb-4">Number of projects we completed</h2>
                    </div>
                    <div class="col-lg-8">
                        <div class="row row-cols-md-3 row-cols-1 mb-5">
                            <div class="col">
                                <div class="fact-counter">
                                    <div class="count wow animate__animated animate__fadeIn animate__slow">
                                        <span class="count-num h1" data-speed="3000" data-stop="65">65</span>
                                        <div class="h5 py-2">App Designs</div>
                                        <p>Creating a full range UI/UX apps accross the whole platform.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="fact-counter">
                                    <div class="count wow animate__animated animate__fadeIn animate__slow">
                                        <span class="count-num h1" data-speed="3000" data-stop="127">137</span>
                                        <div class="h5 py-2">Markets Campaigns</div>
                                        <p>We have strict intentions to completely change the way of UI/UX creation.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="fact-counter">
                                    <div class="count wow animate__animated animate__fadeIn animate__slow">
                                        <span class="count-num h1" data-speed="3000" data-stop="45">45</span>
                                        <div class="h5 py-2">API Integrations</div>
                                        <p>Software-enabled platforms to completely change the way of UI/UX iterations.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-1 g-5">
                            <div class="col">
                                <div class="progress-wrapper fact-counter wow animate__animated animate__fadeIn animate__slow">
                                    <span class="progress-title">UI/UX Design</span>
                                    <div class="progress count wow">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemax="100">
                                            <div class="skill-percent msg-shape">
                                                <span class="count-num" data-speed="3000" data-stop="80">0</span>%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="progress-wrapper fact-counter wow animate__animated animate__fadeIn animate__slow">
                                    <span class="progress-title">Java Development</span>
                                    <div class="progress count wow">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="51" aria-valuemax="100">
                                            <div class="skill-percent msg-shape">
                                                <span class="count-num" data-speed="3000" data-stop="51">0</span>%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="progress-wrapper fact-counter wow animate__animated animate__fadeIn animate__slow">
                                    <span class="progress-title">PHP Programming</span>
                                    <div class="progress count wow">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemax="100">
                                            <div class="skill-percent msg-shape">
                                                <span class="count-num" data-speed="3000" data-stop="95">0</span>%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="progress-wrapper fact-counter wow animate__animated animate__fadeIn animate__slow">
                                    <span class="progress-title">Laravel</span>
                                    <div class="progress count wow">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemax="100">
                                            <div class="skill-percent msg-shape">
                                                <span class="count-num" data-speed="3000" data-stop="90">0</span>%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-row bg-white" style="background-image: url(assets/images/background/oh_bg-min.png); background-size: 100%">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 mx-auto position-relative">
                        <span class="tagline">Testimonial</span>
                        <h2 class="mb-5"><span class="font-weight-bold">What People</span> Says About Us</h2>
                        <div class="testimonial-block-2">
                            <div class="owl-carousel single-carusel dot-disable position-static">
                                <div class="item">
                                    <span class="unicode-quote quote-icon"></span>
                                    <p>Hendrerit dapibus natoque class taciti, egestas orci dis dictumst duis platea penatibus. Pretium fusce. Nullam. Dui nec purus nam. Aenean quam nulla mauris primis mi blandit turpis nulla. Blandit suscipit eleifend dignissim ac faucibus. Ad primis nisl scelerisque rutrum. Fusce, sapien interdum inceptos, amet maecenas augue platea Tincidunt magnis nostra, sit imperdiet porttitor consectetuer.</p>
                                    <span class="name text-secondary h6 font-weight-medium mt-4 d-table">Gilbert E. Lyons, CEO Unicoder</span>
                                </div>
                                <div class="item">
                                    <span class="unicode-quote quote-icon"></span>
                                    <p>Hendrerit dapibus natoque class taciti, egestas orci dis dictumst duis platea penatibus. Pretium fusce. Nullam. Dui nec purus nam. Aenean quam nulla mauris primis mi blandit turpis nulla. Blandit suscipit eleifend dignissim ac faucibus. Ad primis nisl scelerisque rutrum. Fusce, sapien interdum inceptos, amet maecenas augue platea Tincidunt magnis nostra, sit imperdiet porttitor consectetuer.</p>
                                    <span class="name text-secondary h6 font-weight-medium mt-4 d-table">Gilbert E. Lyons, CEO Unicoder</span>
                                </div>
                                <div class="item">
                                    <span class="unicode-quote quote-icon"></span>
                                    <p>Hendrerit dapibus natoque class taciti, egestas orci dis dictumst duis platea penatibus. Pretium fusce. Nullam. Dui nec purus nam. Aenean quam nulla mauris primis mi blandit turpis nulla. Blandit suscipit eleifend dignissim ac faucibus. Ad primis nisl scelerisque rutrum. Fusce, sapien interdum inceptos, amet maecenas augue platea Tincidunt magnis nostra, sit imperdiet porttitor consectetuer.</p>
                                    <span class="name text-secondary h6 font-weight-medium mt-4 d-table">Gilbert E. Lyons, CEO Unicoder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span class="tagline-2">Capabilities</span>
                        <h2>Creative studio with art &amp; technologies.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-row p-0">
            <div class="container-fluid">
                <div class="row row-cols-lg-2 row-cols-1 align-items-end">
                    <div class="col px-0"><img src="assets/images/background/bg-4.png" alt="image not found"></div>
                    <div class="col px-0 bg-white" style="margin-top: -80px;">
                        <div class="w-lg-75" style="padding: 50px;">
                            <div class="simple-video-play d-flex mb-4">
                                <div class="position-relative d-inline-block">
                                    <a data-fancybox="" href="https://www.youtube.com/watch?v=bh-klGboIg8" class="rounded-circle position-relative bg-dark" style="z-index: 10">
                                        <i class="fa-solid fa-play color-white position-relative top-50 start-50 translate-middle"></i>
                                    </a>
                                    <div class="loader position-absolute top-50 start-50 translate-middle">
                                        <div class="loader-inner ball-scale-multiple">
                                            <div class="bg-dark"></div>
                                            <div class="bg-dark"></div>
                                        </div><span class="tooltip">
                                      <b>ball-scale-multiple</b></span>
                                    </div>
                                </div>
                                <div class="ps-4 fw-medium color-dark mb-0 h6 ls-1">Play Video</div>
                            </div>
                            <h2 class="mb-4">We work in the fields of UI/UX design and art direction.</h2>
                            <div class="bb-accordion ac-single-show accordion-plus-left">
                                <div class="ac-card">
                                    <span class="ac-toggle text-truncate active">Website and Mobile App Design</span>
                                    <div class="ac-collapse show" style="display: block">
                                        <p>Creating a visually appealing and functional website is at the core of any web agency’s services. A well-designed website enhances user experience, engages visitors, and drives conversions. Web agencies use modern design principles and the latest technologies to ensure websites are responsive, fast, and user-friendly.</p>
                                    </div>
                                </div>
                                <div class="ac-card">
                                    <span class="ac-toggle text-truncate">Motion Graphics and Animation</span>
                                    <div class="ac-collapse">
                                        <p>A strong brand identity is key to standing out in a crowded digital landscape. Web agencies provide branding services, including logo design, brand strategy, and visual identity development, to create a consistent and recognizable brand image.</p>
                                    </div>
                                </div>
                                <div class="ac-card">
                                    <span class="ac-toggle text-truncate">Search Engine Optimization (SEO)</span>
                                    <div class="ac-collapse">
                                        <p>A website is only effective if potential customers can find it. SEO ensures that a website ranks higher on search engine results pages (SERPs), increasing organic traffic. Web agencies implement keyword strategies, optimize website content, and improve site structure to enhance visibility.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Page Content End ==============-->
        <!--============== Copyright Section Start ==============-->
        <div class="copyright font-primary py-3">
            <div class="container">
                <div class="row row-cols-md-2 row-cols-1">
                    <div class="col">
                        <p class="color-white mb-0">©2025 Uniland All right reserved</p>
                    </div>
                    <div class="col">
                        <ul class="bottom-footer-nav list-color-gray">
                            <li><a href="#">Privacy & Policy </a></li>
                            <li>|</li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--================= Copyright Section End =================-->
    </div>

    <!-- Scroll to top -->
    <div class="scroll-top-vertical xs-mx-none" id="scroll">Back to top <i class="ms-2 fa-solid fa-arrow-right-long"></i></div>

    <!-- Javascript Files -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/fancybox.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/mixitup.min.js"></script>
    <script src="assets/js/range/tmpl.js"></script>
    <script src="assets/js/range/jquery.dependClass.js"></script>
    <script src="assets/js/range/draggable.js"></script>
    <script src="assets/js/range/jquery.slider.js"></script>
    <script src="assets/js/paraxify.js"></script>
    <script src="assets/js/custom.js"></script>

</body>
</html>