<!doctype html>
<html lang="en">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Uniland - Real Estate HTML5 Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon2.ico">

    <!-- Google Font -->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/fancybox.min.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/control.css">
</head>
<body class="career-page">

    <div id="page_wrapper" class="bg-light-gray">
        <!--============== Page Banner Section Start ==============-->
        <div class="full-row inner-page-banner">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="page-title-wrapper d-lg-flex flex-column gap-3">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0 bg-transparent p-0">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item"><a href="index.html">Pages</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Career</li>
                                </ol>
                            </nav>
                            <h1 class="page-title">Make Your Career</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=============== Page Banner Section End ===============-->

        <!--================== Page Content Start =================-->
        <div class="full-row pt-0">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-lg-7">
                        <h5>Think you're good enough? Do you like our projects and want to be the part of our team? If you can handle this, just apply for right position!</h5>
                    </div>
                </div>
                <div class="row g-5 mb-5">
                    <div class="col-md-4">
                        <h5 class="color-primary">WordPress Security Expert</h5>
                        <span>Melbourne, Australia</span>
                    </div>
                    <div class="col-md-8">
                        <h6>Description :</h6>
                        <p>LawVu is transforming the legal industry by providing the world’s leading and most loved platform for in-house legal teams.</p>

                        <p>LawVu is a fast growing New Zealand software company with customers and employees around the globe, including in New Zealand, United States, Australia and Europe. Our legal workspace is a category creating software platform that is designed specifically for in-house legal teams. We’re backed by leading venture capital firms, including Insight Partners and Airtree Ventures.</p>
                        <span class="color-dark mb-2 d-inline-block">Qualification :</span>
                        <ul>
                            <li>Design, build, and update pages using Breakdance page builder within WordPress.</li>
                            <li>Collaborate with content creators, designers, and marketers to bring ideas to life across various websites.</li>
                            <li>Maintain and optimize existing WordPress sites hosted on WPEngine for performance, accessibility, SEO, and responsiveness.</li>
                        </ul>
                        <span class="color-dark mb-2 d-inline-block">Require Skills :</span>
                        <ul>
                            <li>5+ years of hands-on experience designing and developing WordPress websites.</li>
                            <li>Proven experience with Breakdance (or similar visual builders like Elementor, Oxygen, etc.).</li>
                            <li>Strong knowledge of HTML, CSS, basic PHP, and JavaScript.</li>
                            <li>Proficiency in either Adobe or Affinity suites.</li>
                            <li>Familiarity with WordPress themes, plugins, and admin management.</li>
                        </ul>
                        <span class="color-dark mb-2 d-inline-block">Benefits :</span>
                        <ul>
                            <li>Full - Time Posiotion</li>
                            <li>$4K - $5K (From Starting)</li>
                        </ul>
                        <a href="#" class="btn btn-secondary hover-flash-move">Submit Application</a>
                    </div>
                </div>
                <div class="row g-5">
                    <div class="col-md-4">
                        <h5 class="color-primary">WordPress Security Expert</h5>
                        <span>Melbourne, Australia</span>
                    </div>
                    <div class="col-md-8">
                        <h6>Description :</h6>
                        <p>LawVu is transforming the legal industry by providing the world’s leading and most loved platform for in-house legal teams.</p>

                        <p>LawVu is a fast growing New Zealand software company with customers and employees around the globe, including in New Zealand, United States, Australia and Europe. Our legal workspace is a category creating software platform that is designed specifically for in-house legal teams. We’re backed by leading venture capital firms, including Insight Partners and Airtree Ventures.</p>
                        <span class="color-dark mb-2 d-inline-block">Qualification :</span>
                        <ul>
                            <li>Design, build, and update pages using Breakdance page builder within WordPress.</li>
                            <li>Collaborate with content creators, designers, and marketers to bring ideas to life across various websites.</li>
                            <li>Maintain and optimize existing WordPress sites hosted on WPEngine for performance, accessibility, SEO, and responsiveness.</li>
                        </ul>
                        <span class="color-dark mb-2 d-inline-block">Require Skills :</span>
                        <ul>
                            <li>5+ years of hands-on experience designing and developing WordPress websites.</li>
                            <li>Proven experience with Breakdance (or similar visual builders like Elementor, Oxygen, etc.).</li>
                            <li>Strong knowledge of HTML, CSS, basic PHP, and JavaScript.</li>
                            <li>Proficiency in either Adobe or Affinity suites.</li>
                            <li>Familiarity with WordPress themes, plugins, and admin management.</li>
                        </ul>
                        <span class="color-dark mb-2 d-inline-block">Benefits :</span>
                        <ul>
                            <li>Full - Time Posiotion</li>
                            <li>$4K - $5K (From Starting)</li>
                        </ul>
                        <a href="#" class="btn btn-secondary hover-flash-move">Submit Application</a>
                    </div>
                </div>
            </div>
        </div>
        <!--=================== Page Content End ==================-->
        <!--============== Copyright Section Start ==============-->
        <div class="copyright font-primary py-3">
            <div class="container">
                <div class="row row-cols-md-2 row-cols-1">
                    <div class="col">
                        <p class="color-white mb-0">©2025 Uniland All right reserved</p>
                    </div>
                    <div class="col">
                        <ul class="bottom-footer-nav list-color-gray">
                            <li><a href="#">Privacy & Policy </a></li>
                            <li>|</li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--================= Copyright Section End =================-->
    </div>

    <!-- Scroll to top -->
    <div class="scroll-top-vertical xs-mx-none" id="scroll">Back to top <i class="ms-2 fa-solid fa-arrow-right-long"></i></div>

    <!-- Javascript Files -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/fancybox.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/mixitup.min.js"></script>
    <script src="assets/js/range/tmpl.js"></script>
    <script src="assets/js/range/jquery.dependClass.js"></script>
    <script src="assets/js/range/draggable.js"></script>
    <script src="assets/js/range/jquery.slider.js"></script>
    <script src="assets/js/paraxify.js"></script>
    <script src="assets/js/custom.js"></script>

</body>
</html>