<!doctype html>
<html lang="en">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Uniland - Real Estate HTML5 Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon2.ico">

    <!-- Google Font -->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/fancybox.min.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/control.css">
</head>
<body class="compare-page">
    <div id="page_wrapper" class="bg-light-gray">
        <!--============== Page Banner Section Start ==============-->
        <div class="full-row inner-page-banner">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="page-title-wrapper d-lg-flex flex-column gap-3">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0 bg-transparent p-0">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Features</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Compare</li>
                                </ol>
                            </nav>
                            <h1 class="page-title">Compare</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=============== Page Banner Section End ===============-->

        <!--================ Compare section Start ================-->
        <div class="full-row pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-striped compare-list-properties">
                                <tbody><tr>
                                    <th></th>
                                    <th>
                                        <div class="clip-item">
                                            <div class="position-relative transation-all"> <img src="assets/images/property/property-grid-1.png" alt=""> <i class="fas fa-times color-secondary bg-white"></i> </div>
                                            <div class="text-center my-4">
                                                <h5 class="color-secondary ">Eagle Apartments</h5>
                                                <span class="color-primary">$275,000</span> 
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="clip-item">
                                            <div class="position-relative transation-all"> <img src="assets/images/property/property-grid-2.png" alt=""> <i class="fas fa-times color-secondary bg-white"></i> </div>
                                            <div class="text-center my-4">
                                                <h5 class="color-secondary ">Eagle Apartments</h5>
                                                <span class="color-primary">$275,000</span> 
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="clip-item">
                                            <div class="position-relative transation-all"> <img src="assets/images/property/property-grid-3.png" alt=""> <i class="fas fa-times color-secondary bg-white"></i> </div>
                                            <div class="text-center my-4">
                                                <h5 class="color-secondary ">Eagle Apartments</h5>
                                                <span class="color-primary">$275,000</span> 
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <td>Area</td>
                                    <td>1450 sq ft</td>
                                    <td>1220 sq ft</td>
                                    <td>1780 sq ft</td>
                                </tr>
                                <tr>
                                    <td>Rooms</td>
                                    <td>3</td>
                                    <td>3</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>Bedrooms</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Bathrooms</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Air Conditioning</td>
                                    <td class="available"></td>
                                    <td class="available"></td>
                                    <td class="available"></td>
                                </tr>
                                <tr>
                                    <td>Swimming Pool</td>
                                    <td class="not-available"></td>
                                    <td class="not-available"></td>
                                    <td class="available"></td>
                                </tr>
                                <tr>
                                    <td>Laundry Room</td>
                                    <td class="available"></td>
                                    <td class="available"></td>
                                    <td class="available"></td>
                                </tr>
                                <tr>
                                    <td>Window Covering</td>
                                    <td class="not-available"></td>
                                    <td class="available"></td>
                                    <td class="not-available"></td>
                                </tr>
                                <tr>
                                    <td>Gym</td>
                                    <td class="available"></td>
                                    <td class="not-available"></td>
                                    <td class="not-available"></td>
                                </tr>
                                <tr>
                                    <td>Internet</td>
                                    <td class="available"></td>
                                    <td class="available"></td>
                                    <td class="available"></td>
                                </tr>
                                <tr>
                                    <td>Alarm</td>
                                    <td class="not-available"></td>
                                    <td class="not-available"></td>
                                    <td class="available"></td>
                                </tr>
                                <tr>
                                    <td>Building Age</td>
                                    <td>0 - 1 Year</td>
                                    <td>2 - 5 Years</td>
                                    <td>5 - 10 Years</td>
                                </tr>
                                <tr>
                                    <td>Heating</td>
                                    <td>Forced Air</td>
                                    <td>Gas</td>
                                    <td>Forced Air</td>
                                </tr>
                                <tr>
                                    <td>Parking</td>
                                    <td>Attached Garage</td>
                                    <td class="not-available"></td>
                                    <td class="not-available"></td>
                                </tr>
                                <tr>
                                    <td>Sewer</td>
                                    <td>Public</td>
                                    <td>Public</td>
                                    <td>Public</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!--================= Compare section End =================-->
        <!--============== Copyright Section Start ==============-->
        <div class="copyright font-primary py-3">
            <div class="container">
                <div class="row row-cols-md-2 row-cols-1">
                    <div class="col">
                        <p class="color-white mb-0">©2025 Uniland All right reserved</p>
                    </div>
                    <div class="col">
                        <ul class="bottom-footer-nav list-color-gray">
                            <li><a href="#">Privacy & Policy </a></li>
                            <li>|</li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--================= Copyright Section End =================-->
    </div>

    <!-- Scroll to top -->
    <div class="scroll-top-vertical xs-mx-none" id="scroll">Back to top <i class="ms-2 fa-solid fa-arrow-right-long"></i></div>

    <!-- Javascript Files -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/fancybox.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/mixitup.min.js"></script>
    <script src="assets/js/range/tmpl.js"></script>
    <script src="assets/js/range/jquery.dependClass.js"></script>
    <script src="assets/js/range/draggable.js"></script>
    <script src="assets/js/range/jquery.slider.js"></script>
    <script src="assets/js/paraxify.js"></script>
    <script src="assets/js/custom.js"></script>

</body>
</html>