<!doctype html>
<html lang="en">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Uniland - Real Estate HTML5 Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon2.ico">

    <!-- Google Font -->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/fancybox.min.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/control.css">
</head>
<body class="error-page">
    <div id="page_wrapper" class="bg-light-gray">

        <!--============== Page Banner Section Start ==============-->
        <div class="full-row inner-page-banner">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="page-title-wrapper d-lg-flex flex-column gap-3">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0 bg-transparent p-0">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item"><a href="index.html">Pages</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Faq</li>
                                </ol>
                            </nav>
                            <h1 class="page-title">Faq Page</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=============== Page Banner Section End ===============-->

        <!--================== Page Content Start =================-->
        <div class="full-row pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="innter-sidebar">
                            <div class="widget widget-sidebar-nav">
                                <h5 class="widget-title">Navigation</h5>
                                <ul>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="our-mission.html">Mission</a></li>
                                    <li><a href="our-services.html">Our Services</a></li>
                                    <li><a href="advance-search-v1.html">Slide Filter Search</a></li>
                                    <li><a href="left-filter-property-v1.html">Left Filter Search</a></li>
                                    <li><a href="career.html">Career</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="testimonials.html">Testimonials</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="bb-accordion ac-single-show accordion-plus-left">
                            <div class="ac-card">
                                <span class="ac-toggle text-truncate active">What is html template?</span>
                                <div class="ac-collapse show" style="display: block">
                                    <p>Creating a visually appealing and functional website is at the core of any web agency’s services. A well-designed website enhances user experience, engages visitors, and drives conversions. Web agencies use modern design principles and the latest technologies to ensure websites are responsive, fast, and user-friendly.</p>
                                </div>
                            </div>
                            <div class="ac-card">
                                <span class="ac-toggle text-truncate">Motion Graphics and Animation</span>
                                <div class="ac-collapse">
                                    <p>A strong brand identity is key to standing out in a crowded digital landscape. Web agencies provide branding services, including logo design, brand strategy, and visual identity development, to create a consistent and recognizable brand image.</p>
                                </div>
                            </div>
                            <div class="ac-card">
                                <span class="ac-toggle text-truncate">Search Engine Optimization (SEO)</span>
                                <div class="ac-collapse">
                                    <p>A website is only effective if potential customers can find it. SEO ensures that a website ranks higher on search engine results pages (SERPs), increasing organic traffic. Web agencies implement keyword strategies, optimize website content, and improve site structure to enhance visibility.</p>
                                </div>
                            </div>
                            <div class="ac-card">
                                <span class="ac-toggle text-truncate">Can I use the template to convert in WordPress?</span>
                                <div class="ac-collapse">
                                    <p>A website is only effective if potential customers can find it. SEO ensures that a website ranks higher on search engine results pages (SERPs), increasing organic traffic. Web agencies implement keyword strategies, optimize website content, and improve site structure to enhance visibility.</p>
                                </div>
                            </div>
                            <div class="ac-card">
                                <span class="ac-toggle text-truncate">Do you have any video tutorial support?</span>
                                <div class="ac-collapse">
                                    <p>A website is only effective if potential customers can find it. SEO ensures that a website ranks higher on search engine results pages (SERPs), increasing organic traffic. Web agencies implement keyword strategies, optimize website content, and improve site structure to enhance visibility.</p>
                                </div>
                            </div>
                            <div class="ac-card">
                                <span class="ac-toggle text-truncate">What will I do, If I get any bug or error?</span>
                                <div class="ac-collapse">
                                    <p>A website is only effective if potential customers can find it. SEO ensures that a website ranks higher on search engine results pages (SERPs), increasing organic traffic. Web agencies implement keyword strategies, optimize website content, and improve site structure to enhance visibility.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=================== Page Content End ==================-->
        <!--============== Copyright Section Start ==============-->
        <div class="copyright font-primary py-3">
            <div class="container">
                <div class="row row-cols-md-2 row-cols-1">
                    <div class="col">
                        <p class="color-white mb-0">©2025 Uniland All right reserved</p>
                    </div>
                    <div class="col">
                        <ul class="bottom-footer-nav list-color-gray">
                            <li><a href="#">Privacy & Policy </a></li>
                            <li>|</li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--================= Copyright Section End =================-->
    </div>

    <!-- Scroll to top -->
    <div class="scroll-top-vertical xs-mx-none" id="scroll">Back to top <i class="ms-2 fa-solid fa-arrow-right-long"></i></div>

    <!-- Javascript Files -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/fancybox.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/mixitup.min.js"></script>
    <script src="assets/js/range/tmpl.js"></script>
    <script src="assets/js/range/jquery.dependClass.js"></script>
    <script src="assets/js/range/draggable.js"></script>
    <script src="assets/js/range/jquery.slider.js"></script>
    <script src="assets/js/paraxify.js"></script>
    <script src="assets/js/custom.js"></script>
</body>
</html>