<!doctype html>
<html lang="en">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Uniland - Real Estate HTML5 Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon2.ico">

    <!-- Google Font -->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/fancybox.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/control.css">
</head>
<body class="error-page">
    <div id="page_wrapper" class="bg-light-gray">
        <!--============== Page Banner Section Start ==============-->
        <div class="full-row inner-page-banner">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="page-title-wrapper d-lg-flex flex-column gap-3">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0 bg-transparent p-0">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Login</li>
                                </ol>
                            </nav>
                            <h1 class="page-title">Login Page</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=============== Page Banner Section End ===============-->

        <!--================== Page Content Start =================-->
        <div class="full-row pt-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-7">
                        <img src="assets/images/clipart/2.png" alt="">
                    </div>
                    <div class="col-md-5">
                        <div class="signin-form">
                            <h5>User Login</h5>
                            <form action="#" method="POST">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <label>Username</label>
                                        <input type="text" class="form-control" name="" placeholder="">
                                    </div>
                                    <div class="col-12">
                                        <label>Password</label>
                                        <input type="password" class="form-control" name="" placeholder="">
                                    </div>
                                    <div class="col-12">
                                        <input type="checkbox" name=""> Remember next time
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" name="" class="btn btn-dark hover-flash-move">Sign In</button>
                                    </div>
                                </div>
                            </form>
                            <a href="#">Forgot Password or Username</a>
                            <span>Don't have account? <a href="signup.html">Click here</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=================== Page Content End ==================-->
        <!--============== Copyright Section Start ==============-->
        <div class="copyright font-primary py-3">
            <div class="container">
                <div class="row row-cols-md-2 row-cols-1">
                    <div class="col">
                        <p class="color-white mb-0">©2025 Uniland All right reserved</p>
                    </div>
                    <div class="col">
                        <ul class="bottom-footer-nav list-color-gray">
                            <li><a href="#">Privacy & Policy </a></li>
                            <li>|</li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--================= Copyright Section End =================-->
    </div>

    <!-- Javascript Files -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/fancybox.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/mixitup.min.js"></script>
    <script src="assets/js/range/tmpl.js"></script>
    <script src="assets/js/range/jquery.dependClass.js"></script>
    <script src="assets/js/range/draggable.js"></script>
    <script src="assets/js/range/jquery.slider.js"></script>
    <script src="assets/js/paraxify.js"></script>
    <script src="assets/js/custom.js"></script>
</body>
</html>