<!doctype html>
<html lang="en">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Uniland - Real Estate HTML5 Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon2.ico">

    <!-- Google Font -->	
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/control.css">

</head>
<body>
    <div class="preloader">
        <div class="loader"></div>
    </div>

    <div id="page_wrapper" class="bg-light-gray">
        <!--============== Property Details Start ==============-->
        <div class="full-row">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="single-property-page property-block">
                            <div class="entry-single-wrapper">
                                <div class="entry-single-header">
                                    <div class="page-title-wrapper d-flex flex-column">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb mb-0 bg-transparent p-0">
                                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                                <li class="breadcrumb-item"><a href="#">Property</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">Awesome Family Appartment</li>
                                            </ol>
                                        </nav>
                                        <h1 class="entry-single-title">Awesome Family Appartment</h1>
                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 4213 South Burlington, VT 05403</span>
                                        <div class="type"><span class="rent text-white">For Sale</span></div>
                                    </div>
                                    <div class="entry-property-price-wrapper">
                                        <ul class="single-property-control">
                                            <li><a href="#"><i class="fa-solid fa-shuffle"></i></a></li>
                                            <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa-solid fa-share-nodes"></i></a></li>
                                            <li><a href="#"><i class="fa-solid fa-print"></i></a></li>
                                            <li><a href="#"><i class="fa-regular fa-circle-down"></i></a></li>
                                        </ul>
                                        <span class="listing-price">$120,5500<small> / Fixed</small></span>
                                        <span class="listing-available"><i class="fa-solid fa-check"></i> Available</span>
                                    </div>
                                </div>
                                <div class="entry-single-thumbnail">
                                    <div id="single-property" style="width:1200px; height:600px; margin:0 auto 30px;">
                                        <!-- Slide 1-->
                                        <div class="ls-slide" data-ls="duration:7500; transition2d:5; kenburnszoom:in; kenburnsscale:1.2;"> <img width="1920" height="1280" src="assets/images/slider/5.png" class="ls-bg" alt="" /> </div>

                                        <!-- Slide 2-->
                                        <div class="ls-slide" data-ls="duration:7500; transition2d:5; kenburnszoom:out; kenburnsscale:1.2;"> <img width="1920" height="1280" src="assets/images/slider/6.png" class="ls-bg" alt="" /> </div>

                                        <!-- Slide 3-->
                                        <div class="ls-slide" data-ls="duration:7500; transition2d:5; kenburnszoom:in; kenburnsscale:1.2;"> <img width="1920" height="1280" src="assets/images/slider/8.png" class="ls-bg" alt="" /> </div>
                                    </div>
                                </div>
                                <div class="entry-single-content-wrapper">
                                    <div class="row g-4">
                                        <div class="col-lg-8">
                                            <div class="single-content-wrapper">
                                                <div class="single-property-overview">
                                                    <h4 class="text-uppercase ls-3 fw-semibold border-bottom fs-6 color-dark pb-2 mb-4">Overview</h4>
                                                    <ul class="property-info">
                                                        <li><span>Rooms:</span> 7</li>
                                                        <li><span>Beds:</span> 5</li>
                                                        <li><span>Area:</span> 1200 Sqft<sup>2</sup></li>
                                                        <li><span>Baths:</span> 1</li>
                                                        <li><span>Car Garage:</span> Yes ( 5 Capacity )</li>
                                                        <li><span>Swimming:</span> Yes ( 1 Large )</li>
                                                    </ul>
                                                    <div id="map" style="width: 100%; height: 300px"></div>
                                                </div>
                                                <div class="single-property-description">
                                                    <h4 class="text-uppercase ls-3 fw-semibold border-bottom fs-6 color-dark pb-2 mb-4">Description</h4>
                                                    <p>Maecenas egestas quam et volutpat bibendum metus vulputate platea eleifend sed Integer dictum ultricies consectetuer nunc vivamus a. Eu mus justo magna lacinia purus sodales scelerisque. Sociosqu pede facilisi. Curae; lacinia id. Sociis pretium gravida auctor mus amet accumsan adipiscing id dignissim, potenti. Curae; massa ridiculus lobortis consectetuer condimentum mollis vulputate hymenaeos tellus egestas auctor dictumst imperdiet curae; quisque ut porta molestie dui duis blandit molestie etiam enim erat sociis lacinia litora phasellus sit. Ipsum Lacinia class enim pharetra interdum potenti tellus parturient. Potenti scelerisque erat facilisi mauris tortor, mattis euismod augue nascetur rutrum augue ipsum tortor cum Porta primis.</p>

                                                    <p>Praesent lectus facilisi tempor ridiculus arcu pharetra non tellus. Torquent nisl tempor. Magnis mollis lobortis nam, montes ut, consequat sed amet nullam, malesuada nascetur ornare sociosqu magna cum gravida quam tincidunt dapibus tellus felis nibh inceptos netus convallis facilisis torquent. Laoreet pulvinar ut. Fringilla lacus tellus lectus erat hac conubia eget quisque nisi aliquam nibh molestie nisi hymenaeos id phasellus metus duis inceptos arcu hendrerit ligula blandit lectus nisl fermentum sociosqu pretium eros libero.</p>

                                                    <ul class="list-style d-flex flex-column my-2">
                                                        <li>Only pay when you publish</li>
                                                        <li>Full featured event app</li>
                                                        <li>Unlimited featured use</li>
                                                        <li>24/7 supports</li>
                                                        <li>Event analytics</li>
                                                    </ul>
                                                </div>
                                                <div class="single-property-details">
                                                    <h4 class="text-uppercase ls-3 fw-semibold border-bottom fs-6 color-dark pb-2 mb-4">Details</h4>
                                                    <div class="update-on"><span><i class="fa-regular fa-calendar-days"></i> Last update on 12th Sep, 2023 at 10:25am GMT time</span></div>
                                                    <ul class="property-info">
                                                        <li><span>Age :</span> 10 Years</li>
                                                        <li><span>Type :</span> Appartment</li>
                                                        <li><span>Installment Facility :</span> Yes</li>
                                                        <li><span>Insurance :</span> Yes</li>
                                                        <li><span>3rd Party :</span> No</li>
                                                        <li><span>Swiming Pool :</span> Yes</li>
                                                        <li><span>Garden &amp; Field :</span> 2400sqft</li>
                                                        <li><span>Total Floor :</span> 3 Floor</li>
                                                        <li><span>Security :</span> 3 Step Security</li>
                                                        <li><span>Alivator :</span> 2 Large</li>
                                                        <li><span>Dining Capacity :</span> 20 People</li>
                                                        <li><span>Exit :</span> 3 Exit Gate</li>
                                                        <li><span>Fire Place :</span> Yes</li>
                                                        <li><span>Heating System :</span> Floor Heating</li>
                                                    </ul>
                                                    <h4 class="text-uppercase ls-3 fw-semibold border-bottom fs-6 color-dark pb-2 mb-4 mt-5">Additional Details</h4>
                                                    <ul class="property-info">
                                                        <li><span>Deposit :</span> 20%</li>
                                                        <li><span>Pool Size :</span> 300Sqft</li>
                                                        <li><span>Last remodel year :</span> 2007</li>
                                                        <li><span>Amenities :</span> Clubhouse</li>
                                                        <li><span>Additional Rooms :</span> Guest Bath</li>
                                                        <li><span>Equipment :</span> Grill - Gas</li>
                                                    </ul>
                                                </div>
                                                <div class="single-property-details">
                                                    <h4 class="text-uppercase ls-3 fw-semibold border-bottom fs-6 color-dark pb-2 mb-4">Address</h4>
                                                    <ul class="property-address">
                                                        <li><span>Address :</span>  4213 South Burlington, VT 05403</li>
                                                        <li><span>City :</span>  Chicago</li>
                                                        <li><span>Zip/Postal Code :</span> 05403</li>
                                                        <li><span>Area :</span> Andersonville</li>
                                                        <li><span>State/Province :</span> Illinois, New York</li>
                                                        <li><span>Country :</span> United States</li>
                                                    </ul>
                                                </div>
                                                <div class="single-property-details">
                                                    <h4 class="text-uppercase ls-3 fw-semibold border-bottom fs-6 color-dark pb-2 mb-4">Property Features</h4>
                                                    <ul class="property-feature list-style">
                                                        <li>Fitness Lab and Room</li>
                                                        <li>Swiming Pools</li>
                                                        <li>Parking Facility</li>
                                                        <li>Green Park View</li>
                                                        <li>Playground Include</li>
                                                        <li>Garden</li>
                                                        <li>Kitchen Furniture</li>
                                                        <li>Fire Security</li>
                                                        <li>High Class Door</li>
                                                        <li>Store Room</li>
                                                        <li>Marble Floor</li>
                                                    </ul>
                                                </div>
                                                <div class="single-property-details">
                                                    <h4 class="text-uppercase ls-3 fw-semibold border-bottom fs-6 color-dark pb-2 mb-4">Floor Plan</h4>
                                                    <div class="simple-accordion bb-accordion ac-single-show">
                                                        <div class="ac-block ac-card">
                                                            <span class="ac-title ac-toggle">Floor Plans [ 4200 sqft ]</span>
                                                            <div class="panel ac-collapse">
                                                                <div class="px-4 py-3">
                                                                    <ul class="property-feature">
                                                                        <li><span>Bed: </span>162.5 sqft</li>
                                                                        <li><span>Kitchen: </span>108.2 sqft</li>
                                                                        <li><span>Dining: </span>145.7 sqft</li>
                                                                        <li><span>Bath: </span>38.7 sqft</li>
                                                                        <li><span>Storage: </span>123. 2 sqft</li>
                                                                    </ul>
                                                                    <img src="assets/images/house-floor-plan.png" alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="ac-block ac-card">
                                                            <span class="ac-title ac-toggle">Grage Plans [ 4200 sqft ]</span>
                                                            <div class="panel ac-collapse">
                                                                <div class="px-4 py-3">
                                                                    <ul class="property-feature">
                                                                        <li><span>Bed: </span>162.5 sqft</li>
                                                                        <li><span>Kitchen: </span>108.2 sqft</li>
                                                                        <li><span>Dining: </span>145.7 sqft</li>
                                                                        <li><span>Bath: </span>38.7 sqft</li>
                                                                        <li><span>Storage: </span>123. 2 sqft</li>
                                                                    </ul>
                                                                    <img src="assets/images/house-floor-plan.png" alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="ac-block ac-card">
                                                            <span class="ac-title ac-toggle">Garden Plans [ 4200 sqft ]</span>
                                                            <div class="panel ac-collapse">
                                                                <div class="px-4 py-3">
                                                                    <ul class="property-feature">
                                                                        <li><span>Bed: </span>162.5 sqft</li>
                                                                        <li><span>Kitchen: </span>108.2 sqft</li>
                                                                        <li><span>Dining: </span>145.7 sqft</li>
                                                                        <li><span>Bath: </span>38.7 sqft</li>
                                                                        <li><span>Storage: </span>123. 2 sqft</li>
                                                                    </ul>
                                                                    <img src="assets/images/house-floor-plan.png" alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="single-property-details">
                                                    <h4 class="text-uppercase ls-3 fw-semibold border-bottom fs-6 color-dark pb-2 mb-4">Video Prasentation</h4>
                                                    <div class="mt-md-30 mb-30 position-relative">
                                                        <img src="assets/images/background/bg-7.png" alt="real estate template">
                                                        <div class="simple-video-play d-flex position-absolute top-50 start-50 translate-middle">
                                                            <div class="position-relative d-inline-block">
                                                                <a data-fancybox="" href="https://www.youtube.com/watch?v=bh-klGboIg8" class="rounded-circle position-relative bg-primary" style="z-index: 10">
                                                                    <i class="fa-solid fa-play color-white position-relative top-50 start-50 translate-middle"></i>
                                                                </a>
                                                                <div class="loader position-absolute top-50 start-50 translate-middle">
                                                                    <div class="loader-inner ball-scale-multiple">
                                                                        <div class="bg-primary"></div>
                                                                        <div class="bg-primary"></div>
                                                                    </div><span class="tooltip">
                                                                  <b>ball-scale-multiple</b></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Use youtube or Vimeo video link in href, first open the video and just copy the link from url and past here -->
                                                    </div>
                                                </div>
                                                <div class="booking-shedule-tour">
                                                    <h4 class="text-uppercase ls-3 fw-semibold border-bottom fs-6 color-dark pb-2 mb-4">Schedule a Tour</h4>
                                                    <div class="row row-cols-lg-2 row-cols-1 g-4">
                                                        <div class="col"><img src="assets/images/tour.png" alt="real estate template"></div>
                                                        <div class="col">
                                                            <h5 class="fw-semibold fs-6 color-dark pb-2">Submit Your Request</h5>
                                                            <form id="shedule-booking" class="shedule-booking-form" method="POST">
                                                                <div class="row g-3">
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <input type="text" id="tour-date" name="" class="form-control" placeholder="Select Date" onfocus="(this.type='date')" onblur="(this.type='text')">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="color-dark w-100"><span>Select Tour Type</span></div>
                                                                        <div class="form-group select-tour-type">
                                                                            <input type="radio" id="tour-type-meet" name="tour-type" class="form-check-input" hidden>
                                                                            <label for="tour-type-meet" class="tour-type-text">Personal Meet</label>
                                                                            <input type="radio" id="tour-type-chat" name="tour-type" class="form-check-input" hidden>
                                                                            <label for="tour-type-chat" class="tour-type-text">Video Chat</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <select name="orderby2" class="makeMeList">
                                                                                <option value="defaut">Set Time</option>
                                                                                <option value="9:30 am">9:30 am</option>
                                                                                <option value="10:00 am">10:00 am</option>
                                                                                <option value="10:30 am">10:30 am</option>
                                                                                <option value="11:00 am">11:00 am</option>
                                                                                <option value="11:30 am">11:30 am</option>
                                                                                <option value="12:00 pm">12:00 pm</option>
                                                                                <option value="12:30 pm">12:30 pm</option>
                                                                                <option value="2:00 pm">2:00 pm</option>
                                                                                <option value="2:30 pm">2:30 pm</option>
                                                                                <option value="3:00 pm">3:00 pm</option>
                                                                                <option value="3:30 pm">3:30 pm</option>
                                                                                <option value="4:00 pm">4:00 pm</option>
                                                                                <option value="4:30 pm">4:30 pm</option>
                                                                                <option value="5:00 pm">5:00 pm</option>
                                                                                <option value="5:30 pm">5:30 pm</option>
                                                                                <option value="6:00 pm">6:00 pm</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <input type="text" id="person-name" name="" class="form-control" placeholder="Name">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <input type="tel" id="person-tel" name="" class="form-control" placeholder="Phone">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <input type="email" id="person-email" name="" class="form-control" placeholder="Email">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <textarea id="person-msg" placeholder="Message" class="form-control h-auto" rows="4"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-group d-flex gap=2">
                                                                            <input type="checkbox" id="person-terms" name="" class="form-check-input" placeholder="Email">
                                                                            <label>By submitting this form I agree to <a href="#">Terms and Condition</a></label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <button class="btn btn-primary w-100" name="">Submit</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="single-property-calculator">
                                                    <h4 class="text-uppercase ls-3 fw-semibold border-bottom fs-6 color-dark pb-2 mb-4">Loan Calculator</h4>
                                                    <div class="row row-cols-1 g-4">
                                                        <div class="col">
                                                            <form id="loan-form" class="loan-calculator">
                                                                <div class="form-group input-group">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">$</span> 
                                                                    </div>
                                                                    <input type="number" class="form-control" id="amount" placeholder="Property Price">
                                                                </div>
                                                                <div class="form-group input-group">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">$</span> 
                                                                    </div>
                                                                    <input type="number" class="form-control" id="down-payment" placeholder="Down Payment">
                                                                </div>
                                                                <div class="form-group input-group">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">%</span>
                                                                    </div>
                                                                    <input type="number" class="form-control" id="interest" placeholder="Interest">
                                                                </div>
                                                                <div class="form-group input-group">
                                                                    <input type="number" class="form-control" id="years" placeholder="Years To Repay">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="submit" class="btn btn-block btn-dark" value="Calculate">
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="col">
                                                            <div id="data-loading">
                                                                <span>Loading...</span>
                                                            </div>
                                                            <div id="results" class="loan-result">
                                                                <div class="form-group input-group">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Monthly Payment</span>
                                                                    </div>
                                                                    <input type="number" class="form-control" id="monthly-payment" disabled>
                                                                </div> 
                                                                <div class="form-group input-group">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Total Payment</span>
                                                                    </div>
                                                                    <input type="number" class="form-control" id="total-payment" disabled>
                                                                </div>
                                                                <div class="form-group input-group">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Total Interest</span>
                                                                    </div>
                                                                    <input type="number" class="form-control" id="total-interest" disabled>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="single-property-details">
                                                    <h4 class="text-uppercase ls-3 fw-semibold border-bottom fs-6 color-dark pb-2 mb-4">Nearby Places</h4>
                                                    <div class="tab-simple tab-action">
                                                        <ul class="nav-tab-line list-color-secondary">
                                                            <li class="active" data-target="#tb-panel-1">Hospital</li>
                                                            <li data-target="#tb-panel-2" class="">Shopping</li>
                                                            <li data-target="#tb-panel-3">School</li>
                                                            <li data-target="#tb-panel-4">Resturant</li>
                                                        </ul>
                                                        <div class="tab-element">
                                                            <!-- Hosiptan data -->
                                                            <div class="tab-pane tab-hide" id="tb-panel-1" style="display: block;">
                                                                <div class="table-striped overflow-mobile-scroll pb-2">
                                                                    <table class="w-100">
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col">Name</th>
                                                                                <th scope="col">Distance</th>
                                                                                <th scope="col">Type</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>Massachusetts General Hospital</td>
                                                                                <td>23.7 km</td>
                                                                                <td>Medical Collage</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Langone Medical Center</td>
                                                                                <td>13.2 km</td>
                                                                                <td>Hart Hospital</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Mount Sinai Hospital</td>
                                                                                <td>58.0 km</td>
                                                                                <td>Eye Hospital</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <!-- Shpping Data -->
                                                            <div class="tab-pane tab-hide" id="tb-panel-2" style="display: none;">
                                                                <div class="table-striped overflow-mobile-scroll pb-2">
                                                                    <table class="w-100">
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col">Name</th>
                                                                                <th scope="col">Distance</th>
                                                                                <th scope="col">Type</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>Massachusetts General Hospital</td>
                                                                                <td>23.7 km</td>
                                                                                <td>Medical Collage</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Langone Medical Center</td>
                                                                                <td>13.2 km</td>
                                                                                <td>Hart Hospital</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Mount Sinai Hospital</td>
                                                                                <td>58.0 km</td>
                                                                                <td>Eye Hospital</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <!-- Shpping Data -->
                                                            <div class="tab-pane tab-hide" id="tb-panel-3" style="display: none;">
                                                                <div class="table-striped overflow-mobile-scroll pb-2">
                                                                    <table class="w-100">
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col">Name</th>
                                                                                <th scope="col">Distance</th>
                                                                                <th scope="col">Type</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>Massachusetts General Hospital</td>
                                                                                <td>23.7 km</td>
                                                                                <td>Medical Collage</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Langone Medical Center</td>
                                                                                <td>13.2 km</td>
                                                                                <td>Hart Hospital</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Mount Sinai Hospital</td>
                                                                                <td>58.0 km</td>
                                                                                <td>Eye Hospital</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <!-- Shpping Data -->
                                                            <div class="tab-pane tab-hide" id="tb-panel-4" style="display: none;">
                                                                <div class="table-striped overflow-mobile-scroll pb-2">
                                                                    <table class="w-100">
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col">Name</th>
                                                                                <th scope="col">Distance</th>
                                                                                <th scope="col">Type</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>Massachusetts General Hospital</td>
                                                                                <td>23.7 km</td>
                                                                                <td>Medical Collage</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Langone Medical Center</td>
                                                                                <td>13.2 km</td>
                                                                                <td>Hart Hospital</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Mount Sinai Hospital</td>
                                                                                <td>58.0 km</td>
                                                                                <td>Eye Hospital</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="single-property-review">
                                                    <div id="comments" class="comments">
                                                        <div class="comment-head border-bottom">
                                                            <div class="comments-title">
                                                                <h4 class="text-uppercase ls-3 fw-semibold fs-5 color-dark mb-0">10 Reviews</h4>
                                                                <div class="user-rating">
                                                                    <div class="star-rating">
                                                                        <span style="width:94%" title="0 out of 5"><strong class="rating">0</strong> out of 5 </span>
                                                                    </div>
                                                                    <span class="d-inline-block">(4.9 out of 5)</span>
                                                                </div>
                                                            </div>
                                                            <div class="short-by-wrapper d-flex align-items-center gap-2">
                                                                <form class="listing-ordering" method="get">
                                                                    <label>Short By:</label>
                                                                    <select name="orderby2" class="makeMeList">
                                                                        <option value="defaut">Default Order</option>
                                                                        <option value="most_popular">Most Popular</option>
                                                                        <option value="top_rated">Top Rated</option>
                                                                        <option value="newest_items">Newest Items</option>
                                                                        <option value="price_low_to_high">Price low to high</option>
                                                                        <option value="price_hight_to_low">Price hight to low</option>
                                                                    </select>
                                                                </form>
                                                                <a href="#" class="btn-review">Leave a Review</a>
                                                            </div>
                                                        </div>
                                                        <div class="comments-body">
                                                            <div class="media">
                                                                <img src="assets/images/user2.jpg" class="me-3 rounded-circle" alt="...">
                                                                <div class="media-body">
                                                                    <div class="d-md-flex align-items-center justify-content-between mb-1">
                                                                        <h5 class="comments-user-name">Rosalyn S. Speciale</h5>
                                                                        <div class="user-rating">
                                                                            <div class="star-rating">
                                                                                <span style="width:100%" title="5 out of 5"><strong class="rating">5</strong> out of 5 </span>
                                                                            </div>
                                                                            <span class="d-inline-block">(5 out of 5)</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="comments-date mb-2"><span>Posted On 21th May, 2019 - </span><a href="#">Replay</a></div>
                                                                    <p>We value your opinion! Please take a moment to share your experience with Uniland Real Estate. Your feedback helps us serve you better. Leave a review today!</p>
                                                                    <div class="media-replay">
                                                                        <img src="assets/images/user4.jpg" class="me-3 rounded-circle" alt="...">
                                                                        <div class="media-body">
                                                                            <div class="d-flex align-items-center justify-content-between mb-1">
                                                                                <h5 class="comments-user-name">Lee Sipes</h5>
                                                                            </div>
                                                                            <div class="comments-date mb-2"><span>Posted On 10th June, 2019 - </span><a href="#">Replay</a></div>
                                                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="media">
                                                                <img src="assets/images/user2.jpg" class="me-3 rounded-circle" alt="...">
                                                                <div class="media-body">
                                                                    <div class="d-md-flex align-items-center justify-content-between mb-1">
                                                                        <h5 class="comments-user-name">Rosalyn S. Speciale</h5>
                                                                        <div class="user-rating">
                                                                            <div class="star-rating">
                                                                                <span style="width:100%" title="5 out of 5"><strong class="rating">5</strong> out of 5 </span>
                                                                            </div>
                                                                            <span class="d-inline-block">(5 out of 5)</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="comments-date mb-2"><span>Posted On 21th May, 2019 - </span><a href="#">Replay</a></div>
                                                                    <p>We value your opinion! Please take a moment to share your experience with Uniland Real Estate. Your feedback helps us serve you better. Leave a review today!</p>
                                                                    <div class="media-replay">
                                                                        <img src="assets/images/user4.jpg" class="me-3 rounded-circle" alt="...">
                                                                        <div class="media-body">
                                                                            <div class="d-flex align-items-center justify-content-between mb-1">
                                                                                <h5 class="comments-user-name">Lee Sipes</h5>
                                                                            </div>
                                                                            <div class="comments-date mb-2"><span>Posted On 10th June, 2019 - </span><a href="#">Replay</a></div>
                                                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="leave-feedback-wrapper">
                                                    <h4 class="text-uppercase ls-3 fw-semibold border-bottom fs-6 color-dark pb-2 mb-4">Leave A Feedback</h4>
                                                    <form id="leave-feedback" class="leave-feedback-form" method="POST">
                                                        <div class="row g-3">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <input type="text" name="" class="form-control" placeholder="Name">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <input type="email" name="" class="form-control" placeholder="Email">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <input type="text" name="" class="form-control" placeholder="Website">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <select name="orderby2" class="makeMeList">
                                                                        <option value="defaut">Select Rating</option>
                                                                        <option value="1">1 Star - Poor</option>
                                                                        <option value="2">2 Star - Fair</option>
                                                                        <option value="3">3 Star - Average</option>
                                                                        <option value="4">4 Star - Good</option>
                                                                        <option value="5">5 Star - Excellent</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <textarea id="person-msg" placeholder="Write a review" class="form-control h-auto" rows="5"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <button class="btn btn-primary" name="">Submit Review</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="related-property-list">
                                                <h4 class="text-uppercase ls-3 fw-semibold border-bottom fs-6 color-dark pb-2 mb-4">Related Listing</h4>
                                                <div class="row row-cols-md-2 row-cols-1 g-4">
                                                    <div class="col">
                                                        <!-- Property Grid -->
                                                        <div class="property-grid-1 property-block">
                                                            <div class="entry-wrapper">
                                                                <div class="entry-thumbnail">
                                                                    <div class="type"><span class="sale text-white">For Rent</span></div>
                                                                    <ul class="quick-meta">
                                                                        <li><a href="#" title="Add Compare"><i class="fa-solid fa-shuffle"></i></a></li>
                                                                        <li><a href="#" title="Add Favourite"><i class="fa-regular fa-heart"></i></a></li>
                                                                        <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                                                                    </ul>
                                                                    <a href="property-single-v1.html" class="entry-thumbnail-image"><img src="assets/images/property/property-grid-1.png" alt="real estate template"></a>
                                                                </div>
                                                                <div class="entry-content-wrapper">
                                                                    <div class="entry-header">
                                                                        <span class="listing-price">$1850<small> / Monthly</small></span>
                                                                        <h5 class="listing-title"><a href="property-single-v1.html">Awesome Family Appartment</a></h5>
                                                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 4213 South Burlington, VT 05403</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <!-- Property Grid -->
                                                        <div class="property-grid-1 property-block">
                                                            <div class="entry-wrapper">
                                                                <div class="entry-thumbnail">
                                                                    <div class="type"><span class="sale text-white">For Sale</span><span class="featured text-white">Featured</span></div>
                                                                    <ul class="quick-meta">
                                                                        <li><a href="#" title="Add Compare"><i class="fa-solid fa-shuffle"></i></a></li>
                                                                        <li><a href="#" title="Add Favourite"><i class="fa-regular fa-heart"></i></a></li>
                                                                        <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                                                                    </ul>
                                                                    <a href="property-single-v1.html" class="entry-thumbnail-image"><img src="assets/images/property/property-grid-2.png" alt="real estate template"></a>
                                                                </div>
                                                                <div class="entry-content-wrapper">
                                                                    <div class="entry-header">
                                                                        <span class="listing-price">$120,5500<small> / Fixed</small></span>
                                                                        <h5 class="listing-title"><a href="property-single-v1.html">Luxury Condos Riverside</a></h5>
                                                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 2305 Frog Lane Overlandpk, MO 66210</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <!-- Property Grid -->
                                                        <div class="property-grid-1 property-block">
                                                            <div class="entry-wrapper">
                                                                <div class="entry-thumbnail">
                                                                    <div class="type"><span class="rent text-white">For Rent</span></div>
                                                                    <ul class="quick-meta">
                                                                        <li><a href="#" title="Add Compare"><i class="fa-solid fa-shuffle"></i></a></li>
                                                                        <li><a href="#" title="Add Favourite"><i class="fa-regular fa-heart"></i></a></li>
                                                                        <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                                                                    </ul>
                                                                    <a href="property-single-v1.html" class="entry-thumbnail-image"><img src="assets/images/property/property-grid-3.png" alt="real estate template"></a>
                                                                </div>
                                                                <div class="entry-content-wrapper">
                                                                    <div class="entry-header">
                                                                        <span class="listing-price">$6500<small> / Monthly</small></span>
                                                                        <h5 class="listing-title"><a href="property-single-v1.html">Gorgeous Villa Bay View</a></h5>
                                                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 4213 South Burlington, VT 05403</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <!-- Property Grid -->
                                                        <div class="property-grid-1 property-block">
                                                            <div class="entry-wrapper">
                                                                <div class="entry-thumbnail">
                                                                    <div class="type"><span class="rent text-white">For Rent</span></div>
                                                                    <ul class="quick-meta">
                                                                        <li><a href="#" title="Add Compare"><i class="fa-solid fa-shuffle"></i></a></li>
                                                                        <li><a href="#" title="Add Favourite"><i class="fa-regular fa-heart"></i></a></li>
                                                                        <li class="md-mx-none"><a class="quick-view" href="#quick-view" title="Quick View"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                                                                    </ul>
                                                                    <a href="property-single-v1.html" class="entry-thumbnail-image"><img src="assets/images/property/property-grid-4.png" alt="real estate template"></a>
                                                                </div>
                                                                <div class="entry-content-wrapper">
                                                                    <div class="entry-header">
                                                                        <span class="listing-price">$10500<small> / Monthly</small></span>
                                                                        <h5 class="listing-title"><a href="property-single-v1.html">New Condo For Rent</a></h5>
                                                                        <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 4213 South Burlington, VT 05403</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="single-property-sidebar">
                                                <div class="contact-with-agent">
                                                    <h4 class="text-uppercase ls-3 fw-semibold border-bottom fs-6 color-dark pb-2 mb-4">Listing Agent</h4>
                                                    <div class="single-agent-info">
                                                        <img src="assets/images/team/2.jpg" alt="real estate template">
                                                        <div class="agent-block">
                                                            <h5 class="agent-name fs-6 color-dark ls-1 mb-1">Luann McLawhorn</h5>
                                                            <a href="#" class="agent-listing">View Listing</a>
                                                        </div>
                                                    </div>
                                                    <form id="contact-agent" class="single-contact-agent">
                                                        <div class="row g-2">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <input type="text" id="person-name" name="" class="form-control" placeholder="Name">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <input type="tel" id="person-tel" name="" class="form-control" placeholder="Phone">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <input type="email" id="person-email" name="" class="form-control" placeholder="Email">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <textarea id="person-msg" placeholder="Message" class="form-control h-auto" rows="4"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <select name="query_purpose" class="makeMeList">
                                                                        <option value="defaut">Select I'm</option>
                                                                        <option value="1">I'm Buyer</option>
                                                                        <option value="2">I'm Tennant</option>
                                                                        <option value="3">I'm Owner</option>
                                                                        <option value="4">I'm Visitor</option>
                                                                        <option value="5">Other</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group d-flex gap-2">
                                                                    <input type="checkbox" id="person-terms" name="" class="form-check-input" placeholder="Email">
                                                                    <label>By submitting this form I agree to <a href="#">Terms and Condition</a></label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group d-flex justify-content-between gap-3">
                                                                    <button class="btn btn-primary flex-fill" name="">Send Message</button>
                                                                    <a href="callto:+1-321-397-3315" class="btn btn-border fw-semibold hover-color-white flex-fill">Phone Call</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=============== Property Details End ===============-->
        <!--============== Copyright Section Start ==============-->
        <div class="copyright font-primary py-3">
            <div class="container">
                <div class="row row-cols-md-2 row-cols-1">
                    <div class="col">
                        <p class="color-white mb-0">2023 Uniland All right reserved</p>
                    </div>
                    <div class="col">
                        <ul class="bottom-footer-nav list-color-gray">
                            <li><a href="#">Privacy & Policy </a></li>
                            <li>|</li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Copyright Section End ==============-->
    </div>

    <!--============== Modal Start ==============-->
    <div class="overlay-dark modal fade quick-view-modal" id="quick-view">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="close view-close">
                    <span aria-hidden="true">&times;</span>
                </div>
                <div class="modal-body property-block summary p-3">
                    <div class="row row-cols-xl-2 row-cols-1">
                        <div class="col">
                            <div class="entry-thumbnail bg-secondary hover-img-zoom m-2">
                                <div class="type"><span class="sale text-white">For Sale</span><span class="featured text-white">Featured</span></div>
                                <a href="#"><img class="w-100" src="assets/images/property/2.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="entry-content-wrapper">
                                <div class="property-type"><a href="#">Condos</a></div>
                                <h5 class="entry-title mb-1" id="staticBackdropLabel"><a href="#">Luxury Condos Infront of the street of Green Park</a></h5>
                                <span class="listing-location"><i class="fas fa-map-marker-alt"></i> 4213 South Burlington, VT 05403</span>
                                <span class="d-block color-dark hover-text-primary primary-font fs-7 mb-2">( 100 People Recommended )</span>
                                <div class="d-flex align-items-center">
                                    <span class="color-primary font-primary fw-semibold fs-3">$5600 - $8300/<small>mo</small></span>
                                    <span class="product-status ms-4 my-1"><i class="fas fa-check"></i> Available</span>
                                </div>
                                <div class="product-offers mt-3">
                                    <ul class="product-offers-list">
                                        <li class="product-offer-item"> <strong>Special Price </strong>Get extra 19% off (price inclusive of discount)</li>
                                        <li class="product-offer-item"> <strong>Bank Offer </strong> 10% instant discount on VISA Cards</li>
                                        <li class="product-offer-item"> <strong>No cost EMI $49/month.</strong> Standard EMI also available</li>
                                    </ul>
                                </div>
                                <hr>
                                <div class="quantity">
                                    <ul class="d-flex gap-2">
                                        <li><span>Rooms:</span> 5</li>
                                        <li><span>Beds:</span> 3</li>
                                        <li><span>Bathrooms:</span> 2</li>
                                        <li><span>Garage:</span> 1</li>
                                        <li><span>Area:</span> 1100 Sqft</li>
                                    </ul>
                                </div>
                                <h5 class="text-secondary my-3">Description</h5>
                                <p>Bibendum purus aenean mus aenean eu interdum nonummy ipsum ad consequat. Dui eros donec faucibus convallis tempus rutrum id donec mus hymenaeos placerat congue curae mauris turpis gravida viverra consequat consequat
                                    gravida luctus.</p>
                                <div class="short-description d-flex">
                                    <span class="me-4"><b>Highlights:</b></span>
                                    <div class="short-description">
                                        <ul class="list-style d-flex flex-column">
                                            <li>Regular Fit.</li>
                                            <li>Full sleeves.</li>
                                            <li>Machine wash, tumble dry.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--============== Modal End ==============-->

    <!-- Login Modal -->
    <div class="modal fade login-modal" id="loginmodal" tabindex="-1" aria-labelledby="loginmodalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">User Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body user-login-form">
                    <form action="#" method="post">
                        <div class="row row-cols-1 g-3">
                            <div class="col">
                                <label class="access-field"><i class="fa-solid fa-user"></i> <input type="email" class="form-control" placeholder="Username/Email" value="" required=""></label>
                            </div>
                            <div class="col">
                                <label class="access-field"><i class="fa-solid fa-lock"></i> <input type="password" class="form-control" placeholder="Password" value="" required=""></label>
                            </div>
                            <div class="col">
                                <div class="d-flex justify-content-between">
                                    <label><input type="checkbox" name="remember" value=""> Remember me</label>
                                    <span><a href="#">Forgot Password</a></span>
                                </div>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-secondary hover-flash-move w-100">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-start">
                    <a href="signup.html" class="text-dark d-table font-primary fw-medium ls-1 hover-color-primary"><u>Don't Have Account? Click Here.</u></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Modal End -->

    <!-- Scroll to top -->
    <div class="scroll-top-vertical xs-mx-none" id="scroll">Back to top <i class="ms-2 fa-solid fa-arrow-right-long"></i></div>


    <!-- Javascript Files -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/greensock.js"></script>
    <script src="assets/js/layerslider.transitions.js"></script>
    <script src="assets/js/layerslider.kreaturamedia.jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/calculator-app.js"></script>
    <!-- Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOKdRFgkoWrKJbqSG9bywsoylWToxPgqY"></script>
    <script src="assets/js/map/single-map.js"></script>
    <script src="assets/js/map/markerwithlabel_packed.js"></script>
    <script src="assets/js/map/infobox.js"></script>
    <script src="assets/js/map/markerclusterer_packed.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
        (function($) {
            var _latitude = 36.596165;
            var _longitude = -97.062988;
            var _zoom = 6;
            createHomepageGoogleMap(_latitude, _longitude, _zoom);
        })(jQuery);
    </script>
    <script type="text/javascript">
         $('#single-property').layerSlider({
            sliderVersion: '6.5.0b2',
            type: 'popup',
            pauseOnHover: 'disabled',
            skin: 'photogallery',
            globalBGSize: 'cover',
            navStartStop: false,
            hoverBottomNav: true,
            showCircleTimer: false,
            thumbnailNavigation: 'always',
            tnContainerWidth: '100%',
            tnHeight: 70,
            popupShowOnTimeout: 1,
            popupShowOnce: false,
            popupCloseButtonStyle: 'background: rgba(0,0,0,.5); border-radius: 2px; border: 0; left: auto; right: 10px;',
            popupResetOnClose: 'disabled',
            popupDistanceLeft: 20,
            popupDistanceRight: 20,
            popupDistanceTop: 20,
            popupDistanceBottom: 20,
            popupDurationIn: 750,
            popupDelayIn: 500,
            popupTransitionIn: 'scalefromtop',
            popupTransitionOut: 'scaletobottom',
            skinsPath: 'assets/skins/'
        });
    </script>
    <script>
        //get  the current year for the copyright
        $('#year').text(new Date().getFullYear());
    </script>

</body>
</html>